name: main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  test-unit:
    # Skip this job if the head commit’s message contains the string “[skip ci]”.
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    name: Tests & build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # https://github.com/actions/checkout
      - uses: actions/setup-node@v3 # https://github.com/actions/setup-node
        with:
          node-version: '18'
      - uses: actions/cache@v3 # https://github.com/actions/cache
        with:
          path: |
            **/node_modules
            dist
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npm test
        env:
          CI: true

  release:
    # The release job runs only on pushes to or merges into the release branches configured in the semantic-release configuration.
    if: "github.ref == 'refs/heads/main' || github.ref == 'refs/heads/next' || github.ref == 'refs/heads/next-major' || github.ref == 'refs/heads/beta' || github.ref == 'refs/heads/alpha'"
    needs: test-unit
    name: Publish package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            dist
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/package-lock.json') }}
      - env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
